body {
  margin: 0;
  background-color: #121212;
  background-image: 
    radial-gradient(at 47% 33%, hsl(180.00, 100%, 15%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(324.00, 100%, 15%) 0, transparent 55%);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
